<link rel="stylesheet" text="text/css" href="/stylesheets/bootstrap.min.css" media="all" title="no title">
<link rel="stylesheet" text="text/css" href="/stylesheets/application.css" media="all" title="no title">
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script>
  globalUserData={
   username: "",
   email: "",
   chaptersPassed: "",
  };
  globalUserData.username = "<%= username %>";
  globalUserData.email = "<%= userEmail %>";
  globalUserData.chaptersPassed=JSON.parse($("<div/>").html("<%= userChaptersPassed %>").text());
  globalUserData.premium = eval("<%= userPremium %>");
  // globalUserData.chaptersPassed = {};
</script>
<div id="mobile-indicator"></div>
<script>
  globalDeviceData={
    isMobile: ($("#mobile-indicator").css("display") !== "none" ? true : false)
  };
</script>
<div id="root"></div>
<script src="/javascripts/jquery.matchHeight.js" type="text/javascript"></script>
<script src="/javascripts/bundle.js"></script>
<script>
  $(function() {
    $('.height-align').matchHeight();
  });
</script>
