<link rel="stylesheet" text="text/css" href="/stylesheets/bootstrap.min.css" media="all" title="no title">
<link rel="stylesheet" text="text/css" href="/stylesheets/application.css" media="all" title="no title">
<link rel="stylesheet" text="text/css" href="/stylesheets/login.css" media="all" title="no title">
<div class="container-fluid navbar">
  <a class="link-normal" href="/"><h3>LanyardBlue</h3></a>
</div>

<div class="container-fluid">
  <div class="row login-row">

    <h3>Welcome Back!</h3>
    <p>login or signup to access your dashboard</p>
    <br/>
    <div class="form-holder">
      <div class="btn-holder">
        <button id="switch-login" class="btn login-button">Login</button>
        <button id="switch-signup" class="btn login-button inactive">Signup</button>
      </div>


      <form id="log-in-form">
        <label>
          Email
          <input type="text" name="user[email]" readonly onfocus="this.removeAttribute('readonly');"/>
        </label>
        <br/>
        <label>
          Password
          <input type="password" name="user[password]" readonly onfocus="this.removeAttribute('readonly');"/>
        </label>
        <br/>
        <input class="login" type="submit" value="submit">
        <input id="demo" type="submit" value="try a demo">
      </form>

      <form id="sign-up-form">
        <label>
          Email
          <input type="text" name="user[email]" readonly onfocus="this.removeAttribute('readonly');"/>
        </label>
        <br/>
        <label>
          Username
          <input type="text" name="user[username]" readonly onfocus="this.removeAttribute('readonly');"/>
        </label>
        <br/>
        <label>
          Password
          <input type="password" name="user[password]" readonly onfocus="this.removeAttribute('readonly');"/>
        </label>
        <br/>
        <label>
          Confirm Password
          <input type="password" name="user[password_confirm]" readonly onfocus="this.removeAttribute('readonly');"/>
        </label>
        <br/>
        <input id="agreement-status" type="checkbox" name="agreement" value="agreed" style="width: inherit; display: inline-block;"/>
        <label for="agreement" style="display: inline-block; font-weight: normal;">I agree to not copy, sell and distribute for profit any of the chapter materials.</label>
        <br/>
        <input class="login" type="submit" value="submit"/>
      </form>

    </div>

  </div>
</div>



<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script>
  $('input').attr('autocomplete','false');
  $("#switch-login").on("click", function(){
    $("#log-in-form").css("display", "block");
    $("#switch-login").removeClass("inactive");
    $("#sign-up-form").css("display", "none");
    $("#switch-signup").addClass("inactive");
  })
  $("#switch-signup").on("click", function(){
    $("#log-in-form").css("display", "none");
    $("#switch-login").addClass("inactive");
    $("#sign-up-form").css("display", "block");
    $("#switch-signup").removeClass("inactive");
  })
</script>
<script src="/javascripts/jquery.matchHeight.js" type="text/javascript"></script>
<script src="/javascripts/bundle.js"></script>
<script>
  var addError = function(err){
    alert(err);
  };

  $("#log-in-form").on("submit", function(e){
    e.preventDefault();
    var data = $(e.currentTarget).serializeArray();

    $.ajax({
      url: "/api/session/new",
      method: "POST",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify({
        "email": data[0].value,
        "password": data[1].value,
      }),

      success: function(response){
        window.location = "/dashboard";
      },

      error: function(response){
        addError("not successful");
      }
    });
  })

  $("#demo").on("click", function(e){
    e.preventDefault();
    $.ajax({
      url: "/api/session/new",
      method: "POST",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify({
        "email": "demony@lanyardblue.com",
        "password": "demony",
      }),
      success: function(response){
        window.location ="/dashboard";
      },
      error: function(response){
        addError("the credential failed.");
      }
    });
  })

  $("#sign-up-form").on("submit", function(e){
    e.preventDefault();

    if(!$("#agreement-status")[0].checked){
      addError("Please agree to preserve the copyright of this site.");
      return 1;
    }

    var data = $(e.currentTarget).serializeArray();
    if(data[2].value != data[3].value){
      addError("password must match");
      return 1;
    }

    $.ajax({
      url: "/api/users/new",
      method: "POST",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify({
        "email": data[0].value,
        "username": data[1].value,
        "password": data[2].value,
      }),

      success: function(response){
        window.location = "/dashboard";
      },

      error: function(response){
        addError("signup failed for some reason.")
      }
    });
  })
</script>
