<link rel="stylesheet" text="text/css" href="/stylesheets/bootstrap.min.css" media="all" title="no title">
<link rel="stylesheet" text="text/css" href="/stylesheets/application.css" media="all" title="no title">
<link rel="stylesheet" text="text/css" href="/stylesheets/splash.css">

<div class="container-fluid navbar splash_navbar">
  <h3>Discover LanyardBlue</h3>
</div>

<div class="container-fluid">
  <div class="row first_row">
    <div class="col-md-7 avatar-section">
      <div class="row avatar-row">
        <img class="avatar_icon" src="/images/avatar1.png"/>
        <img class="avatar_icon" src="/images/avatar2.png"/>
        <img class="avatar_icon" src="/images/avatar3.png"/>
      </div>

      <div class="row avatar-row">
        <img class="avatar_icon" src="/images/avatar4.png"/>
        <img class="avatar_icon" src="/images/avatar5.png"/>
        <img class="avatar_icon" src="/images/avatar6.png"/>
      </div>

      <div class="row">
        <div>
          <h4><i>"With the right mindset and strategy, anyone can achieve financial freedom."</i></h4>
        </div>
      </div>


    </div>
    <div class="col-md-5">
      <div class="row">
        <div id="splash_intro">
          <h2>Unlock Your Financial Freedom</h2>
          <br/>
          <p>One in five americans believe that the only way to get rich is winning the lottery. But is it a word of truth or simply a lack of means?</p>
          <br/>
          <p>In this course, you'll learn:</p>
          <br/>
          <ul class="list-group splash-list">
            <li class="list-group-item">> Distinguish between <i><u>investments</u></i> and <strong><u>expenses</u></strong>.</li>
            <li class="list-group-item">> What is <i><u>passive income</u></i> and what assets generate them.</li>
            <li class="list-group-item">> How to <i><u>refinance</u></i> and leverage higher returns.</li>
          </ul>
          <br/>
          <p>Progress through 14 chapters of common accounting scenarios along with detailed instructions and explanations.</p>
          <br/>
          <a href="/login" class="btn btn-login">Back to Dashboard</a>
          <br/><br/>
          <span>**Disclaimer: Buying, selling and investing in shares and real-estate is not without risk. Market and company movement will affect your performance and you may get back less than you invest.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron splash-jumbotron">
    <h3><i>"Simple, intuitive and insightful."</i></h3>
    <br/>
    <p>Leveraging an intereactive user interface, we put you in command through a journey of wealth accumulation.</p>
  </div>
</div>

<div class="container-fluid">
  <div id="splash_image_holder">
    <div id="splash_image_plan_left">
      <h3>Plan Better</h3>
      <p>The assignments immerse you in the cashflow-based financial planning problems.</p>
      <p>For the assignments, you'll learn the ideas behind each financial transaction.</p>
    </div>
    <div id="splash_image_plan_right">
      <h3>See Further</h3>
      <p>The assignments will teach you to look ahead when planning your income, expenses and assets.</p>
      <p>Use these insights to see a brighter financial future.</p>
    </div>
    <img id="splash_image_plan" src="/images/plan.jpg"/>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron splash-jumbotron2">
    <h3><i>"Financial Freedom is Freedom from Fear."</i></h3>
    <br/>
    <p>Apply the concepts from the chapters to plan your assets and achieve the free life powered by your passive income.</p>
  </div>
</div>

<div class="container-fluid">
  <div id="splash_image_holder">
    <div id="splash_image_plan_left">
      <h3>Start Early</h3>
      <p>The assignments are designed to be accessible to everyone, including early teens.</p>
      <p>Teach your kids what makes a financially fruitful life at an early age.</p>
    </div>
    <div id="splash_image_plan_right">
      <h3>Sprint Ahead</h3>
      <p>Outrun your peers in personal wealth management and get out of the rat race.</p>
      <p>Pursue your passion when nine-to-five is no longer your reality.</p>
    </div>
    <img id="splash_image_plan" src="/images/run.jpg"/>
  </div>
</div>

<div class="container-fluid footer">
  <p>If you have any feedback, please email the author of this site. </p>
  <p>Raymond Gao </p>
  <p>| email: qg231@nyu.edu</p>
  <p>| Full-stack Engineer and Quantitative Economist, <i>an NYC resident</i></p>
  <p>We appreciate your comments and strive to improve our user experience with your input.</p>
</div>
