html, body{
  overflow-x: hidden;
}

*{
  border-radius: 0px;
}

p {
  font-size: 1.7rem;
}

[class*="col"], [class*="container"]{
  padding: 0px;
}

body{
  background-color: white !important;
  color: #222222 !important;
}

.navbar{
  background-color: #136a9b;
  color: white;
  margin: 0px;
  padding-left: 2.5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0px;
}

.navbar-img{
  height: 3rem;
  position: absolute;
  top: 4.5rem;
  right: 2.5%;
  color: white;
  cursor: pointer;
}

.chapters-list{
  background-color: #3d3d3d;
  min-height: 100vh;
  height: 100%;
  color: white;
  padding-left: 2.5%;
  padding-top: 2.5%;
  padding-right: 2.5%;
}

.chapters-list-item{
  background-color: #36a0ce;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  padding-left: 2rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: white;
  width: inherit;
  display: inline-block;
  min-width: 90%;
}
.chapters-list-item:hover{
  background-color: #5fb3d8;
}
.chapters-detailed{
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 20%;
}
.chapter-go-button, .chapter-check-button{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0px;
}
.step-in-chapters{
  display: flex;
  position: relative;
  height: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.step-in-chapter{
  position: relative;
  height: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.step-in-chapters > .col-sm-6{
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.statement-holder{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.item-list, .item-list-active{
  text-align: center;
  font-size: 1.7rem;
}
span.separate{
  display: block;
  height: 2rem;
}
.item-list-title, .item-list-active-title{
  background-color: #fcc914;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.item-list-active-title{
  background-color:#b2167a;
  cursor: pointer;
}
.item-list-item, .item-list-placeholder, .item-list-active-item{
  display: flex;
  text-align: center;
  background-color: #FFFFF0;
  padding-top: 1rem;
  color: black;
  padding-bottom: 1rem;
  cursor: pointer;
  font-size: 1.7rem;
  border-bottom: 1px solid #C0C0C0;
}
.gross-account{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fbfde1;
}
.wrong{
  background-color: #7c0f1e !important;
  color: white !important;
  border-bottom: 1px solid white;
}
.item-list-placeholder{
  background-color: gray;
  color: gray;
}
.item-list-active-item{
  background-color: white;
}
.star{
  font-size: 1.5rem;
}
.item-float{
  pointer-events: none;
  position: absolute;
  z-index: 999;
  background-color: white;
  text-align: center;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 1px dotted gray;
}

.alert{
  margin: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.dismiss-error-button{
  border-radius: 2rem;
  background-color: #f0938a;
  color: white;
  border: 1px solid white;
}
.dismiss-success-button{
  border-radius: 2rem;
  background-color: #7fddc5;
  color: white;
  border: 1px solid white;
}
